body {
    /* background-image:linear-gradient(#3a6186,#89253e) */
    background: url(../chill.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
   
}


#input {
  background-color: transparent;
  height: 100px;
  position: fixed;
  text-align: center;
  font-size: 50px;
  letter-spacing: 30px;
  border-radius: 20px;
  width: 550px;
  border: transparent;
  display: block;
  z-index: 1;
  margin-top: 250px;
  margin-left: 670px;
  color: white;
  text-shadow: 2px 3px 5px rgba(0,0,0,0.5);
  font-family: 'Cute Font', cursive;
  outline: none;
  
}

  
  ::placeholder {
    color: white;
  }

h1 {
  position:fixed;
  color: #fff;
  justify-content: center;
  font-size: 150px;
  letter-spacing: 50px;
  z-index: 0;
  margin-top: 10px;
  font-family: 'Russo One', sans-serif;

  text-shadow: 3px 3px 20px #ff99cc,
    -2px 1px 30px #ff99cc,
    2px 3px 5px rgba(0,0,0,0.5);
  
}


p {
 position: fixed;
 rotate: 90deg;
  color: #daff07;
  font-size: 30px;
  letter-spacing: 20px;
  text-transform: uppercase;
   margin-top: 450px; 
   margin-left: -100px;
   -webkit-transform:rotate(-90deg);
   z-index: 2;
   font-family: 'Russo One', sans-serif;
   text-shadow: 2px 3px 5px rgba(0,0,0,0.5);


}


.btn-done, .btn-delete {

 }

 .btn-done {
  margin-top: -58px;
  margin-left: 20px;
   height: 135px;
   width: 90px;
   position:absolute;

 }
.btn-delete {
  height: 100px;
  width: 100px;
  margin-left: 30px;

}

#output {
  align-items: center;
  
}

tr {
  color: greenyellow;
}

th,td {
  text-shadow: 2px 3px 5px rgba(0,0,0,0.5);
}
th {
  font-size: 30px;
  text-align: center;
  width: 200px;

}


.btn-submit {
  margin-left: 860px;
  margin-top: 735px;
  z-index: 1;
  background-color:transparent;
  color:white;
  width: 100px;
  height: 70px;
  border-radius: 50px;
  position: absolute;
  position: fixed;
  text-shadow: 2px 3px 5px rgba(0,0,0,0.5);
border: 5px solid white;

box-shadow: 0 0 10px #03bcf4,
          0 0 20px #03bcf4,
          0 0 40px #03bcf4,
          0 0 80px #03bcf4,
          0 0 160px #03bcf4;
}

.note-input {
  background-color: rgb(22, 22, 22);
  color: white;
}

.enter-notes {
  width: 182px;
  color:greenyellow;
  background-color: transparent;
  border: none;

  
}



.grid-container {
  display: grid;
  grid-template-rows: 150px repeat(4,350px);
  grid-template-columns: 150px 100px 200px  repeat(4,178px);
}

.grid-item-1 {
  grid-column: 2 / 9;
  grid-row: 1/1;
 

}

.grid-item-2 {
 
  grid-column: 1/1;
  grid-row: 1/9;
  

}

.grid-item-3 {
  grid-column: 2/6;
  grid-row: 2/6;
  border: 5px solid white;
  box-shadow: 0px 0px 100px white,
  0px 0px 20px rgb(62, 241, 227),
  0px 0px 50px rgb(255, 137, 82),
  0px 0px 20px white;
  z-index: 0;

}

h4 {
  color: white;
  text-align: center;
  font-size: 50px;
  position: relative;
  text-shadow: 2px 3px 5px rgba(0,0,0,0.5);
  font-family: 'Cute Font', cursive;
}






.btnChange {
  background-color: red;
}

#study-girl {
  height: 1500px;
  width: 1000px;
  position: fixed;
  margin-bottom: 2000px;
  margin-top: -1700px;
  margin-left: 800px;
  z-index: -1;
}

#think {
  height: 1000px;
  width: 1000px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  position: fixed;
  margin-left: 600px;
  margin-top: -1550px;
  z-index: -1;

  
}



